VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_DB_PASSWORD=
OPENAI_API_KEY=
LLAMA_CLOUD_API_KEY=
INGEST_PDF_PATH=
SEMANTIC_CHUNK_THRESHOLD=0.83
LLAMA_PARSE_WORKERS=4
